* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 50px;
    background-color: rgb(233, 55, 153);
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .logo {
        font-family: fantasy;
        font-size: 30px;
        margin-left: 10px;
    }
}
nav {
    ul {
        font-weight: solid;
    }
    li {
        list-style-type: none;
        display: inline-block;
        margin: 5px;
    }
    a {
        text-decoration: none;
        color: cornsilk;
    }
    a:hover {
        text-decoration: underline;
        color: rgb(236, 233, 29);
    }
}
main {
    max-width: 1000px;
    background-color: hotpink;
    margin: 0 auto;
    h1 {
        text-align: center;
        font-family: fantasy;
        color: #ffffff;
    }
    section {
        display: grid;
        max-width: 1000px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 250px) ;
        grid-gap: 3px;
        padding: 3px;
        div {
            background-color: rgba(76, 0, 130, .2);
            min-height: 500px;
        }
    }
   
}
.block-1 {
    background-image: url('./img/01.jpg');
    background-size: cover;
}
.block-2 {
    background-image: url('./img/02.jpg');
    background-size: cover;
}
.block-3 {
    background-image: url('./img/03.jpg');
    background-size: cover;
}
.block-4 {
    background-image: url('./img/04.jpg');
    background-size: cover;
}